apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-cluster
  namespace: cnpg-system
spec:
  instances: 3
  storage:
    size: 5Gi
  bootstrap:
    initdb:
      database: thatsneatdb
      owner: thatsneatdev
      ensure: absent
      secret:
        name: thatsneatdev-auth
